.container {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  footer {
    display: flex;
    padding: 4px;
    color: var(--white);
    align-items: center;
    justify-content: space-between;

    h3 {
      display: block;
      width: 12ch;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: var(--fs-large);
      font-weight: var(--fw-medium);
    }

    > div {
      display: flex;
      gap: 5px;

      > div {
        display: flex;
        gap: 5px;
        padding: 0 5px;
        border-radius: 5px;
        align-items: center;
        border: 1px solid red;

        svg {
          width: 15px;
          height: 15px;
        }

        p {
          letter-spacing: 1px;
          font-size: var(--fs-small);
        }
      }
    }
  }
}
